body{
    font-family: "atrament-web",sans-serif;
    font-size: 16px;
}

body h1, body h2, body h3, body h4, body h5, body h6{
    font-family: "atrament-web",sans-serif;
} 
html body h1 {
    font-size: 42px;
    margin: 0 0 15px 0;
    line-height: 1;
}

html body h2 {
    font-size: 36px;
    margin: 0 0 15px 0;
    line-height: 1.1;
}

html body h3 {
    font-size: 28px;
    margin: 0 0 15px 0;
    line-height: 1.2;
}

html body h4 {
    font-size: 24px;
    margin: 0 0 10px 0;
    line-height: 1.3;
}

html body h5 {
    font-size: 20px;
    margin: 0 0 10px 0;
    line-height: 1.4;
}

html body h6 {
    font-size: 16px;
    margin: 0 0 10px 0;
    line-height: 1.5;
}

.font-bold {
    font-weight: 700;
}

.font-size-medium {
    font-size: 20px;
}

.text-uppercase {
    text-transform: uppercase;
}

b, strong {
    font-weight: 600;
}

p {
    margin-bottom: 15px;
    letter-spacing: 0;
}

p:last-child {
    margin-bottom: 0;
}

a, i, button, .btn, i, span, input, select, textarea {
    transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
}

img {
    max-width: 100%;
    height: auto;
}
table tr th,table tr td {
    font-size: 21px;
}
.mb-60{margin-bottom:60px}
.mb-55{margin-bottom:55px}
.mb-50{margin-bottom:50px}
.mb-45{margin-bottom:45px}
.mb-40{margin-bottom:40px}
.mb-35{margin-bottom:35px}
.mb-30{margin-bottom:30px}
.mb-25{margin-bottom:25px}
.mb-20{margin-bottom:20px}
.mb-15{margin-bottom:15px}
.mb-10{margin-bottom:10px}
.mb-5{margin-bottom:5px}
.mb-0{margin-bottom:0}
.mt-60{margin-top:60px}
.mt-55{margin-top:55px}
.mt-50{margin-top:50px}
.mt-45{margin-top:45px}
.mt-40{margin-top:40px}
.mt-35{margin-top:35px}
.mt-30{margin-top:30px}
.mt-25{margin-top:25px}
.mt-20{margin-top:20px}
.mt-15{margin-top:15px}
.mt-10{margin-top:10px}
.mt-5{margin-top:5px}
.mt-0{margin-top:0}
.margin-t5{
    margin-top: 5px;
}
.pb-60{padding-bottom:60px}
.pb-55{padding-bottom:55px}
.pb-50{padding-bottom:50px}
.pb-45{padding-bottom:45px}
.pb-40{padding-bottom:40px}
.pb-35{padding-bottom:35px}
.pb-30{padding-bottom:30px}
.pb-25{padding-bottom:25px}
.pb-20{padding-bottom:20px}
.pb-15{padding-bottom:15px}
.pb-10{padding-bottom:10px}
.pb-5{padding-bottom:5px}
.pb-0{padding-bottom:0}
.pt-60{padding-top:60px}
.pt-55{padding-top:55px}
.pt-50{padding-top:50px}
.pt-45{padding-top:45px}
.pt-40{padding-top:40px}
.pt-35{padding-top:35px}
.pt-30{padding-top:30px}
.pt-25{padding-top:25px}
.pt-20{padding-top:20px}
.pt-15{padding-top:15px}
.pt-10{padding-top:10px}
.pt-5{padding-top:5px}
.pt-0{padding-top:0}
.sidebar-nav ul li a {
    font-size: 18px;
}
.sidebar-nav ul li a span {
    vertical-align: middle;
}
.card .card-subtitle code {
    font-size: 16px;
    font-family: "atrament-web",sans-serif;
    font-weight: 600;
}
.btn{
    font-size: 20px;
}

/**************** topbar css begins ****************/
.container-fluid{
    padding: 0px 15px;
}
a.navbar-brand span img {
    margin-top: 11px;
    margin-left:-2px
}
header .top-header {
    height: 20px;
    background: #015aaa;
}
    header {
    position: relative;
}
.header-main {
    position: absolute;
    right: 0px;
    top: 0px;
}
.topbar {
    background: #015aaa !important;
}
.header-main ul.dash-nav {
    display: flex;
    list-style: none;
    width: 500px;
    max-width: 100%;
    padding: 0px;
    background: #015aaa;
    margin: 0;
    border-radius: 0px 0px 0px 30px;
}

.header-main ul.dash-nav>li {
    flex: 1;
    color: #fff;
    font-size: 24px;
    text-align: center;
    border-right: 2px solid #fff;
    font-weight: 100;
}
.header-main ul.dash-nav li a{
    color: #fff;
    display: block;
    padding: 15px 0px;
}
.topbar .top-navbar{
    min-height: 35px;
}
.header-main ul.dash-nav li:last-child {
    border-right: none;
}
.header-main ul.dash-nav li.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}
.header-main ul.dash-nav li .dropdown-menu {
    background-color: #015aaa;
}
.col-12 .return_page a {color: #015aaa;}
.color-bordered-table.info-bordered-table thead th {background-color: #015aaa;}

.color-bordered-table.info-bordered-table {
    border-color: #015aaa;
}
.color-bordered-table.info-bordered-table a{
    color: #015aaa;
}

.btn-info, .card-outline-info .card-header {
    background: #015aaa;
    border-color: #015aaa;
}
.btn-info:hover{
    background: #2079ca87;
}
.header-main ul.dash-nav li .dropdown-menu li, .header-main ul.dash-nav li .dropdown-menu li a{
    color: #fff;
    display: block;
    font-size: 24px;
    text-align: left;
    font-weight: 100;
}
.header-main ul.dash-nav li .dropdown-menu li a{
    padding-left: 20px;
}
.header-main ul.dash-nav li .dropdown-menu li a:hover{
    background-color: #2079ca87;
}
.header-main ul.dash-nav li.nav-item.dropdown .dropdown-menu ul.dropdown-user {
    width: 200px;
}
.header-main ul.dash-nav li:last-child i {
    font-size: 20px;
    margin-right: 5px;
    line-height: 28px;
    vertical-align: middle;
}
/**************** Login page css begins ****************/
.top-header {
    height: 20px;
    background: #015aaa;
}
.login-box.card {
    background: #015aaa;
}
.login-register .card-body h3 {
    color: #fff;
    text-align: center;
}
body .login-register .card-body form .form-control, .login-register .card-body  form input,
.login-register .card-body form .checkbox input#checkbox-signup {
    color: #fff !important;
    padding-left: 7px;
}
.login-register .card-body form .checkbox label, .login-register .card-body form a#to-recover {
    color: #fff !important;
    font-size: 20px;
    letter-spacing: 0.5px;
    font-weight: 100;
}
.login-register .card-body form button, .login-register .card-body form button:active {
    background: #7eafd2 !important;
    box-shadow: none !important;
}

.login-register {
    padding: 0px;
}

.login-register .logo img {
    width: 200px;
    max-width: 100%;
}

.login-register .logo {
    text-align: center;
    margin: 15px 0px;
}
[type=checkbox] + label:before, [type=checkbox]:not(.filled-in) + label:after {
    border-color: #fff;
}
body .login-register .card-body form .form-control::-webkit-input-placeholder, 
body .login-register .card-body form .form-control::-moz-placeholder,
body .login-register .card-body form .form-control:-moz-placeholder {
    color: #fff;
    font-size: 20px;
    letter-spacing: 1px;
}
form#recoverform p {
    color: #fff;
    font-size: 20px;
}

a#back-to-login {
    color: #fff;
    font-size: 20px;
}
form#recoverform input#emailRecover {
    background: #015aaa;
    border-radius: 0px;
    border: none;
    border-bottom: 1px solid;
}

form#recoverform button {
    background: #7eafd2;
}
/**************** main dashboard page css begins ****************/
.page-wrapper{
    margin-left: 0px;
    padding-bottom: 0px;
    background-color: #fff;
}
.progress-row {
    display: flex;
    width: 65%;
    margin-bottom: 20px;
}
.progress-row .logo {
    width: 200px;
    max-width: 100%;
    margin: 0px 35px 0px 0px;
}
.progress-row .current-date, .progress-row .chart-tracking, .progress-row .thumbs {
    flex: 1;
    font-size: 22px;
    text-align: center;
    color: #57585a;
    margin: 0;
}
.progress-row .current-date {
    padding-top: 10px;
    margin: 5px;
    text-align: left;
}
.thumbs img {
    max-width: 35px;
    margin-top: 15px;
}
.thumbs .thumbs-up-green, .thumbs .thumbs-down-red {
    text-align: left;
    margin-left: 15px;
}
.day-week span {
    border: 1px solid;
    padding: 0px 5px;
    border-radius: 50%;
    font-size: 14px;
    margin-right: 4px;
}
button.multiselect {
    border: 1px solid #aaa;
    border-radius: 0px;
}
button#save_report {
    background-color: #8dc641;
    border: none;
    font-size: 24px;
    color: #fff;
    font-weight: 300;
    text-transform: uppercase;
    cursor: pointer;
    margin-bottom: 15px;
    box-shadow: none;
}
.report-filter-btn button, .fiter_refresh_btn {
    background-color: #8dc642;
    border: none;
    font-size: 24px;
    color: #FFF;
    font-weight: 300;
    text-transform: uppercase;
    cursor: pointer;
    width: 100%;
    letter-spacing: 1px;
}

.date-range input {
    width: 73px;
    border: 1px solid #eaeaea;
    -webkit-appearance: none;
}
.time-picker input {
    width: 70px;
    display: initial;
}
input[type=date], input[type=datetime-local], input[type=month], input[type=time] {
    border: 1px solid #aaaaaa;
}
.date-picker h5, .time-picker-section h5, .create-report h4 {
    margin-bottom: 0px;
}
.date-range input, .time-picker input {
    border: 1px solid #aaa;
    border-radius: 0px;
}
.report-name label, .day-week label {
    display: block;
    margin-bottom: 0px;
    font-size: 20px;
    color: #455a64;
}
.report-name  input#store_name {
    width: 100%;
}
.date-range input#from_date {
    margin-bottom: 6px;
}
.date-range input {
    width: 88%;
}
.card.card-outline-info {
    margin: 0px auto 35px auto;
    /* width: 600px; */
    max-width: 100%;
    padding: 15px;
}
.card.card-outline-info .card-body button {
    width: auto;
    display: block;
    padding: 5px 20px;
}
.report-filter-btn {
    margin: 15px 0px;
}
.canvasjs-chart-credit {
    display: none;
}
.current-date p {
    margin-bottom: 0px;
    background: #d4d4d4;
    padding: 3px 14px;
}
.chart-tracking p {
    line-height: 17px;
}
button#update_report {
    background-color: #8dc642;
    border-color: #8dc642;
}
button.multiselect {
    border: 1px solid #aaa;
    border-radius: 0px;
}
.custom-check .normal-radio input[type=checkbox] {
    opacity: 1;
    position: absolute;
}
.custom-check .rad,
.custom-check .ckb{
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}
.custom-check .rad > input,
.custom-check .ckb > input{ /* HIDE ORG RADIO & CHECKBOX */
  visibility: hidden;
  position: absolute;
}
/* RADIO & CHECKBOX STYLES */
.custom-check .rad > i,
.custom-check .ckb > i{     /* DEFAULT <i> STYLE */
  display: inline-block;
  vertical-align: middle;
  transition: 0.2s;
}
/* CHECKBOX OVERWRITE STYLES */
.custom-check .ckb > i {
  width: 25px;
  border-radius: 3px;
}
/*.rad:hover > i{ 
  box-shadow: inset 0 0 0 3px #fff;
  background: gray;
}*/
.custom-check .rad > input:checked + i{ /* (RADIO CHECKED) <i> STYLE */
  box-shadow: none;
  background: #f1eeea;
}
.custom-check .rad i {
    font-size: 16px;
    padding: 15px;
    border: solid 1px #ddd;
    font-style: normal;
}
.custom-check label.rad {
    display: block;
    float: left;
    width: 50%;
    margin: 0px 0px 0px -1px;
    vertical-align: middle;
    padding-left: 5px;
}
.custom-check .rad i {
    padding: 0px;
    border-radius: 50%;
    background: #fff;
    border: solid 1px #58585a;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    margin: 0px;
    position: relative;
    opacity: 1;
    display: block;
    text-align: center;
    width: 21px;
    height: 21px;
    font-size: 13px;
    color: #58585a;
}
.custom-check .rad > input:checked + i {
    background: #8dc642;
    border-color: #8dc642;
    opacity: 1;
    color: #fff;
}
.custom-check {
    position: relative;
    display: flex;
}
ul#user_report {
    list-style: none;
    padding: 0px;
}
ul#user_report li a {
    font-size: 20px;
    color: #58585a;
    text-transform: capitalize;
}
ul#user_report li a:hover {
    text-decoration: underline;
    opacity: 0.9;
}
ul#user_report li {
    position: relative;
    padding-left: 20px;
}
ul#user_report li:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    border: 2px solid;
    border-radius: 50%;
    top: 8px;
    left: 0px;
}
.return_page {
    display: flex;
    font-size: 20px;
}
.return_page a {
    padding: 0px 5px;
    margin-left: 6px;
    border-radius: 30px;
    color: #015aaa !important;
}
.col-12 .return_page {
    padding: 15px 0px;
}
.col-12 > .card > .return_page {
    padding: 15px;
}
.create-report .btn-group {
    display: block;
}
.btn-group button.multiselect {
    width: 100%;
    padding: 0px;
}
.multiselect-container>li>a>label.checkbox {
    color: #57585a !important;
    padding: 0px 0px 7px 12px;
}
.multiselect-container>li>a>label.checkbox input[type="checkbox"] {
    left: 0px;
    opacity: 1;
    position: relative;
}
.report-name input#report_name {
    height: 40px;
    padding: 5px 0 5px 10px;
    border-radius: 4px;
    width: 100%;
    margin: 0px;
    background: #fff;
    font-weight: 600;
    border: 1px solid #ccc;
}
.modal-body .report-filter-btn {
    display: inline-block;
}
.modal-body .report-filter-btn button {
    padding: 3px 20px;
}
.modal-footer button {
    background-color: #015aaa;
    color: #fff !important;
}
/*feedback_create_page css start*/
.normal-radio input[type=radio] {
    opacity: 1;
    position: static;
}
.rad,
.ckb{
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}
.rad > input,
.ckb > input{ /* HIDE ORG RADIO & CHECKBOX */
  visibility: hidden;
  position: absolute;
}
/* RADIO & CHECKBOX STYLES */
.rad > i,
.ckb > i{     /* DEFAULT <i> STYLE */
  display: inline-block;
  vertical-align: middle;
  transition: 0.2s;
}
/* CHECKBOX OVERWRITE STYLES */
.ckb > i {
  width: 25px;
  border-radius: 3px;
}
/*.rad:hover > i{ 
  box-shadow: inset 0 0 0 3px #fff;
  background: gray;
}*/
.rad > input:checked + i{ /* (RADIO CHECKED) <i> STYLE */
  box-shadow: none;
  background: #f1eeea;
}
.rad i {
    font-size: 16px;
    padding: 15px;
    border: solid 1px #ddd;
    font-style: normal;
}
label.rad {
    display: block;
    float: left;
    width: 50%;
    margin: 0px 0px 0px -1px;
    vertical-align: middle;
}
.rad i {
    padding: 4px;
    border-radius: 0;
    background: #f5ece8;
    border: solid 1px #3688e5;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    margin: 0px;
    position: relative;
    opacity: 1;
    display: block;
    text-align: center;
    height: auto;
    font-size: 30px;
    color: #3688e5;
}

.rad > input:checked + i {
    background: #3688e5;
    opacity: 1;
    color: #fff;
} 
/*feedback_create_page css end*/

button#report_list {
    background-color: #8dc642;
    border: none;
    font-size: 24px;
    color: #67757c;
    font-weight: 300;
    text-transform: uppercase;
    cursor: pointer;
    width: 100%;
}
div#pagination-container {
    display: flex;
}
div#pagination-container p {
    font-size: 22px;
    width: 25px;
    text-align: center;
    margin: 1px;
}
div#pagination-container p.paginacaoValor.customPagination {
    background: transparent !important;
}
div#pagination-container p.paginacaoValor.customPagination.activePagination {
    color: #fff;
    background: #8dc642 !important;
    line-height: normal;
    font-size: 20px;
}
div#pagination-container p#afterPagination, p#beforePagination {
    border: 1px solid #015aaa;
    line-height: normal;
    height: 32px;
}
.card-outline-info .card-header {
    display: flex;
    justify-content: space-between;
}

.card-outline-info .card-header a {
    font-size: 21px;
    color: #fff;
}
div#not_data {
    font-size: 36px;
    font-weight: 500;
    text-align: center;
    border: 2px solid #67757c;
    width: 500px;
    max-width: 100%;
    margin: 50px auto;
}
.alert-success {
    font-size: 20px;
    padding: 7px 15px;
}   
footer {
    background-color: #015aaa;
    color: #fff;
    padding: 5px 0px;
}
footer p {
    font-size: 20px;
}
/*.dtp > .dtp-content > .dtp-date-view > header.dtp-header, 
.dtp .dtp-buttons .btn-success, .dtp div.dtp-date, .dtp div.dtp-time, 
.dtp table.dtp-picker-days tr > td > a.selected, .dtp .dtp-buttons .btn-success{
    background-color: #015aaa;
    border-color:#015aaa;
}
.year-picker-item.active {
    color: #015aaa;
} */
.body_thumbs {
    position: absolute;
    width: 50px;
    right: 0px;
    top: 39%;
}
.body_thumbs > div {
  padding: 8px 0px;
}

.thumbs .thumbs-up-green, .thumbs .thumbs-down-red {
    display:block;
    vertical-align: middle;
}
.date-range, .time-picker {
display: flex;
}

.date-range > span, .time-picker > span {
    flex: 1;
}

.date-range > span input, .time-picker > span input  {
    padding: 2px;
    line-height: normal;
    height: auto;
    min-height: auto;
    font-size: 14px;
    width: 70%;
    text-align: center;
}

.create-report h5 {
    margin: 0px;
}

.create-report .btn-group:not(:last-child) {
    margin: 0px 0px 15px !important;
}
.return_page {
    text-align: center;
    display: block;
}

.return_page a, .return_page p {
    display: inline-block;
}
.report-box-container {
    padding: 20px;
    border: solid 1px #ddd;
}
.header-main ul.dash-nav li .dropdown-menu li a {
    padding: 5px 15px;
}

.header-main ul.dash-nav li .dropdown-menu li a i {
    margin-right: 8px;
}
.card-body.card-body-form {
    border: 2px solid #015aaa;
}

.card.card-outline-info .card-body button:active {
    background-color: #015aaa;
    border-color: #015aaa;
}
div#chartContainer button {
    padding: 2px 0px !important;
    width: 35px !important;
}
.canvasjs-chart-toolbar {
    top: 0px !important;
    right: -90px !important;
}
.return_page a:hover {
    text-decoration: underline;
}
/************** accordion css **************/
.accordion-container{
  position: relative;
  margin: 10px auto;
}
.accordion-container > h2{
  text-align: center;
  color: #231f20;
  padding-bottom: 5px;
  margin-bottom: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;
}
.faq-section .set {
    position: relative;
    width: 100%;
    height: auto;
    background-color: #f5f5f5;
    margin-bottom: 8px;
}
.faq-section .set > a{
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #555;
    font-weight: 600;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
    font-size: 20px;
}
.faq-section .set > a i{
  float: right;
  margin-top: 2px;
}
.faq-section .set > a.active{
  background-color:#015aaa;
  color: #fff;
}
.faq-section .content{
    background-color: #fff;
    border: 1px solid #ddd;
    border-top: 0px;
    border-radius: 0px 0px 7px 7px;
    display: none;
}
.faq-section .content p{
    font-size: 20px;
    padding: 10px 15px;
    margin: 0;
    color: #333;
    background-color: whitesmoke;
    border-radius: 0px 0px 5px 5px;
}

form.form-horizontal.form-material.client-form .form-group {
    width: 49%;
    display: inline-block;
}

form.form-horizontal.form-material.client-form .form-group:nth-child(even) {
    margin-right: 17px;
}
.site-contact .first-filed {
    width: 49%;
    float: left;
    margin-right: 7px;
}

.site-contact .second-field {
    width: 49%;
    float: left;
    margin-left: 14px;
}
form.site-contact {
    background-color: whitesmoke;
    padding: 15px;
}
.modal-body form .report-filter-btn {
    display: block;
    text-align: right;
}
.modal-body form .report-filter-btn button {
    width: auto;
}
.apps_radio_btn input[type=radio] {
    position: static;
    opacity: 1;
    margin: 2px;
}

form.form-horizontal.form-material.client-form .form-group:last-child {
    display: block;
}
.date-picker select.form-control {
    border-radius: 0px;
    color: #333;
    border-color: #adadad;
    outline: none;
}
.color-red{
    color: #ec2028;
    padding-left: 3px;
}
li.multiselect-item .input-group {
    padding: 5px;
    margin: 0px;
}
li.multiselect-item span.input-group-btn {
    display: none;
}
ul.multiselect-container.dropdown-menu.show {
    width: 100%;
}
.container > .support-text > p {
    text-align: center;
    font-size: 23px;
    background-color: #f5f5f5;
    padding: 15px;
    border: 2px solid #015aaa;
    box-shadow: 1px 2px 6px #ccc;
}


@media only screen and (max-width: 767px){
    .rmb-60{margin-bottom:60px}
    .rmb-55{margin-bottom:55px}
    .rmb-50{margin-bottom:50px}
    .rmb-45{margin-bottom:45px}
    .rmb-40{margin-bottom:40px}
    .rmb-35{margin-bottom:35px}
    .rmb-30{margin-bottom:30px}
    .rmb-25{margin-bottom:25px}
    .rmb-20{margin-bottom:20px}
    .rmb-15{margin-bottom:15px}
    .rmb-10{margin-bottom:10px}
    .rmb-5{margin-bottom:5px}
    .rmb-0{margin-bottom:0}
    .rmt-60{margin-top:60px}
    .rmt-55{margin-top:55px}
    .rmt-50{margin-top:50px}
    .rmt-45{margin-top:45px}
    .rmt-40{margin-top:40px}
    .rmt-35{margin-top:35px}
    .rmt-30{margin-top:30px}
    .rmt-25{margin-top:25px}
    .rmt-20{margin-top:20px}
    .rmt-15{margin-top:15px}
    .rmt-10{margin-top:10px}
    .rmt-5{margin-top:5px}
    .rmt-0{margin-top:0}
    .rmt0{
        margin-top: 0px !important;
    }
    .rpb-60{padding-bottom:60px}
    .rpb-55{padding-bottom:55px}
    .rpb-50{padding-bottom:50px}
    .rpb-45{padding-bottom:45px}
    .rpb-40{padding-bottom:40px}
    .rpb-35{padding-bottom:35px}
    .rpb-30{padding-bottom:30px}
    .rpb-25{padding-bottom:25px}
    .rpb-20{padding-bottom:20px}
    .rpb-15{padding-bottom:15px}
    .rpb-10{padding-bottom:10px}
    .rpb-5{padding-bottom:5px}
    .rpb-0{padding-bottom:0}
    .rpt-60{padding-top:60px}
    .rpt-55{padding-top:55px}
    .rpt-50{padding-top:50px}
    .rpt-45{padding-top:45px}
    .rpt-40{padding-top:40px}
    .rpt-35{padding-top:35px}
    .rpt-30{padding-top:30px}
    .rpt-25{padding-top:25px}
    .rpt-20{padding-top:20px}
    .rpt-15{padding-top:15px}
    .rpt-10{padding-top:10px}
    .rpt-5{padding-top:5px}
    .rpt-0{padding-top:0}
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10 {
        width: 100%;
        max-width: 100%;
        flex: none;
    }
    .header-main {
        position: relative;
        width: 100%;
    }

    .header-main ul.dash-nav {
        width: 100% !important;
        flex: none !important;
        border-radius: 0px !important;
    }

    .progress-row .logo {
        display: block;
        margin: 0px auto;
    }

    .header-main ul.dash-nav>li {
        flex: none;
        width: 25%;
    }

    .progress-row {
        flex: none;
        width: 100% !important;
        display: block !important;
    }
    .chart-tracking {
        width: 50%;
        float: left;
        margin-bottom: 15px !important;
    }
    .canvasjs-chart-toolbar {
        right: 0px !important;
        top: -19px !important;
    }
    form.form-horizontal.form-material.client-form .form-group {
        width: 100%;
        margin-right: 0px;
    }
    .form-group.first-filed, .form-group.second-field{
        width: 100%;
        margin: 0px;
        float: none;
    }
    form.site-contact .form-group {
        margin-bottom: 15px;
    }
    .thumbs .thumbs-up-green, .thumbs .thumbs-down-red {
        text-align: center;
        margin: 0px;
    }
    .progress-row .current-date {
        text-align: center;
    }
}